SECRET_KEY=nutrifit-secret-key-2026
DB_USER=root
DB_PASS=Quy020105@
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=NutriFitDB

MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_USE_TLS=True
MAIL_USERNAME=phuquy020105@gmail.com
MAIL_PASSWORD=wvyi pvnl oekm gkcf
MAIL_DEFAULT_SENDER=NutriFit Support <phuquy020105@gmail.com>